.section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #AF60BC;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgblack {
    background-color: #000;
}

.section.-bdfirst {
    border-color: #F25A70;
}